<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hotelvip</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>cn.lut.hotelvip.filter.CharacterFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>AuthorityFilter</display-name>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>cn.lut.hotelvip.filter.AuthorityFilter</filter-class>
    <init-param>
      <param-name>notcheckURLList</param-name>
      <param-value>/user/login,/imagecode,/common/error.jsp,/error,/common/roleerror.jsp,/user/loginout,.js,.css,.png,jpg,.gif,.html</param-value>
    </init-param>
    <init-param>
      <param-name>checkSessionKey</param-name>
      <param-value>loginstate</param-value>
    </init-param>
    <init-param>
      <param-name>redirectURL</param-name>
      <param-value>/user/login</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>imageservlet</servlet-name>
    <servlet-class>cn.lut.hotelvip.utils.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageservlet</servlet-name>
    <url-pattern>/imagecode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerServlet</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.CustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/customerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/adminservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUser</display-name>
    <servlet-name>SelectUser</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.SelectUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUser</servlet-name>
    <url-pattern>/selectuser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InRoom</display-name>
    <servlet-name>InRoom</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.InRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InRoom</servlet-name>
    <url-pattern>/inroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OutRoom</display-name>
    <servlet-name>OutRoom</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.OutRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutRoom</servlet-name>
    <url-pattern>/outroom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGood</display-name>
    <servlet-name>AddGood</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.AddGood</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGood</servlet-name>
    <url-pattern>/addgood</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMoney</display-name>
    <servlet-name>AddMoney</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.AddMoney</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoney</servlet-name>
    <url-pattern>/addmoney</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminIndex</display-name>
    <servlet-name>AdminIndex</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.AdminIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminIndex</servlet-name>
    <url-pattern>/adminindex</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserIndex</display-name>
    <servlet-name>UserIndex</servlet-name>
    <servlet-class>cn.lut.hotelvip.controller.UserIndex</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIndex</servlet-name>
    <url-pattern>/userindex</url-pattern>
  </servlet-mapping>
</web-app>